*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'lato';
    background-color: #fff;
    color: #333;
}
header{
    min-height: 100vh;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
}
.overlay{
    height: 100vh;
    opacity: .6;
    background-color: black;
    position: relative;
}
.logo{
   position: absolute; top: 30px; left: 150px;
   height: 140px;

}
.main-nav{
    position: absolute; top: 50px; right: 200px;
    list-style: none;
  
}
.main-nav li{
    display: inline-block;
    font-size: 2rem;
    font-family: 'lato';
    margin: 10px;
    padding: 10px;
}
.main-nav li a{
 text-decoration: none;   
 color: #fff;
}
.main-nav li a:hover{
    color: orange;
    text-decoration: underline;
}
.hero-box{
    position: absolute; top: 280px; left: 150px;
    color: #fff;
    
}
br{
    height: 1px;
}
.hero-box h1{
    font-weight: normal;
    font-size: 55px;
    text-transform: uppercase;
    word-spacing: 2px;
}
.btn{
    text-decoration: none;
    color: orange;
    border: 1px solid orange;
    border-radius:  25px;
    text-align: center;
    padding: 10px;
    margin-left: 8px;
    margin-top: 10px;
    font-size: 1.7rem;
    margin-right: 5px;
}
.h1v{
    margin-bottom: 25px;
}
.btn:hover{
    color: #fff;
    background-color: orange;
}
section{
    padding: 40px 0px;
}
.hr1{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    background-color: orange;
    margin-left:  595px; 
    color: orange;
    border: solid orange 2px;border-radius: 5px;
}
.h2{
    text-align: center;
    font-size: 3rem;
    font-family: 'lato';
    word-spacing: 5px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
.features-desc{
    width: 60%;
    margin: 20px auto;
    font-size: 1.3rem;
    margin-bottom: 100px;
}
.box i{
    margin-bottom: 20px;
    color: orange;
}
.box h3{
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight:500;
    text-transform: uppercase;
    word-spacing: 2px;

}
.box p{
    line-height: 150%;
    font-size: 1.1rem;
}

 
.meal{
padding: 0 ;    background-color: black; overflow: hidden;
}
.meal img{
    width: 100%;
    opacity: 0.6; 
    transition: 1s;
   transform: scale(1.2 );
}
.meal img:hover{
    transform: scale(1);
    opacity: 1;
}
#works{
    background-color: #F4F4F4;
    margin-top: -40px;
    margin-right: -10px;
}
#works .container h2{
    margin-bottom: 40px;
}
.w-left
{
    padding-right: 3%;
    padding-top: 5%;
    text-align: right;
}
.w-left img{
    width: 250px;
}
.w-right{
    text-align: left;
    padding-left: 3%;

}
.w span{
    
    color: orange;
    border: 2px solid orange;
    border-radius: 80%;
    width: 60px;
    height: 60px;
    display: inline-block;
   text-align: center;
  
   padding: 13px;
   margin-right: 20px;
   font-size: 1.8rem;
   
   
}
.w{
   margin-left: 30px;
    margin-bottom: 40px;
    width: 500px;
    display: flex;
    font-size: 1.1rem;
}
.w-right{
   padding-top: 110px;
}
.brands{
    margin-top: 100px;
    margin-left: 35px;
}
.brands a{
    margin-right: 10px;
}
.brands img{
    width: 150px;
    height: 50px;
}
#cities .container h2{
    margin-top: 50px;
    margin-bottom: 40px;
}
.city1 img{
    width: 300px;
}
.city1 h3{
    font-size: 1.5rem;
    font-weight: normal;
    padding-top: 10px;
    text-transform: uppercase;
}
.cityinfo i{
    margin-top: 20px;
    color: orange;
    padding-right: 15px;
    padding-left: 10px;
    font-size: 20px;
}
.cityinfo{
    font-size: 1.2rem;
}
#testimonials{
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(../images/back-customers.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 600px;
}
#testimonials h2{
margin-bottom: 20px;
}
#testimonials i{
    font-size: 2.2rem;
    padding: 10px;
   
}
#testimonials p{
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 10px;
}
#testimonials img{
    border-radius: 50%;
    width: 80px;
   vertical-align: middle; 
   padding-right: 10px;
}
#testimonials div{
    font-size: 1.2rem;
}
#sign-up{
    background-color: #F4F4F4;
    height: 700px;
}
#sign-up .form {
    width: 300px;
    height: 359px;
    background-color: white;
    border-radius: 5px;
    margin-left: 120px;
    margin-top: 50px;
    
}
#sign-up .form .up{
    height: 120px;
    margin-top: 15px;
    

}
#sign-up .form .up h3{
    font-weight: 200;
    margin-bottom: 10px;
    color:#848484;

}
#sign-up .form .up .up1{
    font-size: 40px;
    color:#FFC355 ;
}
#sign-up .form .up span{
    font-size: 15px;
}
#sign-up .form .up .up2{
    font-size: 12px;
    margin-top: 15px;
    color: #848484;
}
#sign-up .form .mid{
    height:150px
}
#sign-up .form .mid p{
    display: inline-block;
    margin-top: 10px;
    margin-left: 7px;
    color: #848484;
}
#sign-up .form .mid i{
    font-size: 9px;
    color: #FFC355;
}
#sign-up .form .end button{
    width: 130px;
    margin-left: 70px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #E67E22 ;
    color: #E67E22;
    font-size: 18px;
    background-color: white;
    margin-top: 12px;
    font-family: initial;

}
#sign-up .form .end button:hover{
    color: white;
    background-color:#E67E22 ;
}









